name: Java CI/CD with Gradle

on:
  push:
    branches:
      - main
  pull_request:
    types: [ opened, synchronize, reopened ]


jobs:
  Build:
    name: Build & Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1.4.3
        with:
          java-version: 1.8

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build -x test -x check

      - name: Make Batch File
        run: echo 'java -jar "%~dp0\app.jar"' > build/libs/app.bat

      - name: Deploy Excutable JAR
        uses: actions/upload-artifact@v2
        with:
          name: ctip-app
          path: '**/build/libs/*.*'

      - name: Unit Test
        run: ./gradlew test -x jacocoTestReport

      - name: Publish Test Report Summary
        uses: mikepenz/action-junit-report@v2
        if: ${{ always() }}
        with:
          report_paths: '**/build/test-results/test/TEST-*.xml'
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Deploy Test Report
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/reports/tests/test
          destination_dir: junit

      - name: Test Code Coverage
        run: ./gradlew jacocoTestReport jacocoTestCoverageVerification

      - name: Deploy Code Coverage Report
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/reports/jacoco/test/html
          destination_dir: jacoco


  Analysis:
    name: Static Analysis
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis

      - name: Set up JDK 11  # Minimum JDK version for SonarQube
        uses: actions/setup-java@v1.4.3
        with:
          java-version: 11

      - name: Run Checkstyle
        uses: nikitasavinov/checkstyle-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: 'github-pr-check'
          tool_name: 'Lint'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Cache SonarCloud packages
        uses: actions/cache@v1
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Cache Gradle packages
        uses: actions/cache@v1
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle

      - name: Analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ./gradlew sonarqube --info

      - name: Run PMD
        run: ./gradlew pmdMain pmdTest
